.container-main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #791b72;
}
.container-input-task {
  position: absolute;
  top: 250px;
  display: flex;
  align-items: center;
}

.input-main {
  width: 400px;
  height: 51px;
  padding-left: 5px;
}
.btn-addTask {
  width: 100px;
  height: 50px;
}
.container-task {
  height: 100%;
  margin-top: 50px;
}
.ul-task {
  display: flex;
  flex-direction: column;
}
.btn-addTask {
  border: none;
  background-color: #fff;
  height: 50px;
  text-align: center;
  width: 100px;
  cursor: pointer;
  font-size: 20px;
  color: #8b8ff5;
}

@media (max-width: 780px) {
  .input-main {
    width: 300px;
    height: 30px;
    border: 0;
  }
  .container-input-task {
    position: absolute;
    top: 260px;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
  }
  .btn-addTask {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 30px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
@media (max-width: 440px) {
  .container-input-task {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
  }
  .input-main {
    width: 300px;
    height: 30px;
  }
  .btn-addTask {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 30px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .container-task {
    margin-top: 80px;
  }
}
@media (max-width: 380px) {
  .container-input-task {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
  }
  .input-main {
    width: 300px;
    height: 30px;
  }
  .btn-addTask {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 30px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .container-task {
    margin-top: 80px;
  }
}
