.container-header {
  background-color: #4a4a4a;
  width: 100vw;
  height: 280px;
  display: flex;
  align-items: center;
  flex-direction: space-between;
}
.title-todo {
  color: #fff;
  font-size: 42px;
}
.img-logo {
  width: 50px;
  cursor: pointer;
}

@media (max-width: 780px) {
  .container-header {
    margin: 0;
    display: flex;
  }

  .title-todo {
    font-size: 32px;
  }
  .img-logo {
    width: 30px;
  }
}
@media (max-width: 440px) {
  .title-todo {
    font-size: 22px;
  }
  .img-logo {
    width: 26px;
  }
}
@media (max-width: 380px) {
  .title-todo {
    font-size: 22px;
  }
  .img-logo {
    width: 26px;
  }
}
